/node_modules
/public/mix-manifest.json
package.json
/public/css
/public/js
/public/hot
/public/storage
/public/fonts/vendor
/storage/*.key
/vendor
.env
.data
.idea
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
